<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>8Ball</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>

  <h2>Ask the magic 8ball</h2>

  <form action='/ask' method='POST'>
    Question : <input type='text' name='question'><br /><br />
    <button type='submit'>Ask!</button>
  </form>
  <p><%= question%></p>
  <p>Answer: <%= answer%></p>
  <br />
  <br />
  <br />

</body>
</html>
